<div class="main-container">
    <div *ngFor="let user of users">  
        
        <a routerLink="/notities/gebruikers/{{selectedUser?.name}}" routerLinkActive="active">
            <button id="controls" (click)="onUserSelect(user)">{{user?.name}}</button>
        </a>

        <button (click)="deleteUser(user)">
            <img src="/assets/vuilbakske.svg" class="vuilbakske"> Verwijder deze gebruiker 
        </button>   
    </div>

    <div class="addGebruikers" *ngIf="addUser">
        <input [value]="naam" (change)="naam = $event.target.value"/>
        <button (click)="addUser()">Voeg gebruiker toe</button>
    </div>
</div>