#controls {
    margin: 10px;
    width: 240px;
    display: inline-block;
    background: blue;
    border-radius: 8px;
    border: 1px solid #444444;
    box-shadow: 0px 1px 1px #3606bd inset, 1px 1px 3px #222222;
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 16px 32px 16px 32px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
    font-family: arial;
}

#controlDelete {
    width: 200px;
    height: 30px;
    margin-top: 20px;
}

.background {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-container {
    display: flex;
    max-width: 500px;
    margin: auto;
    padding-top: 50px;
}

.notities-paneel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #f6f7ff;
    padding: 16px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.notities-header {
    display: flex;
}

.kruiske {
    margin-left: auto;
    width: 20px;
    cursor: pointer;
}

.notities-content {
    display: inline-grid;
    grid-gap: 16px;
}

.notitie {
    border-radius: 9px;
    padding: 16px;
    box-shadow: 0px 0px 24px rgba(0,0,0,0.1);
    background: antiquewhite;
    border: 1px solid black;
}

.vuilbakske {
    width: 15px;
    height: 15px;
}

.addGebruikers {
    margin: 10px;
}

