<!--<div *ngFor="let user of users">  
    
    <button id="controls" (click)="onUserSelect(user)">{{user.name}}</button>

    <button (click)="deleteUser(user)">
        <img src="/assets/vuilbakske.svg" class="vuilbakske"> Verwijder deze gebruiker 
    </button>   
</div>-->

<div class="main-container">

    <button id="controls">Vicky</button>
    <button id="controlDelete">
        <img src="/assets/vuilbakske.svg" class="vuilbakske"> Verwijder deze gebruiker 
    </button>
</div>

<div class="addGebruikers" *ngIf="addUser">
    <input [value]="naam" (change)="naam = $event.target.value"/>
    <button (click)="addUser()">Voeg gebruiker toe</button>
</div>