<div class="main-container">
    <div *ngFor="let user of users">  
        
        <a routerLink="/notities/gebruikers/{{selectedUser?.name}}" routerLinkActive="active">
            <button id="controls" (click)="onUserSelect(user)">{{user?.name}}</button>
        </a>

        <button (click)="deleteUser(user)">
            <span class="icon is-small is-left">
                <i class="fas fa-trash-alt"></i>
            </span>
            Verwijder deze gebruiker
        </button>   
    </div>

    <div class="addGebruikers" *ngIf="addUser">
        <input [value]="naam" (change)="naam = $event.target.value; $event.target.value = ''"/>
        <button (click)="addUser()">Voeg gebruiker toe</button>
    </div>
</div>