<div class="main-container">

    <h2 class="headertekst">Notities van {{user}}</h2>
    
    <a routerLink="notes-details" routerLinkActive="active">
        <button id="controls">+ Voeg nieuwe notitie toe</button>
    </a>
    <br>
    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" (keyup)="filter($event.target.value)" placeholder="Filter">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
        </div>
    </div>
    <br>
    <div class="field">
        <label class="label">Categorie
        <select name="categorie" id="categorie" (change)="onSelectChange($event)" [selectedIndex]="selectedCategorieIndex">
            <option *ngFor="let categorie of categorieArray" [value]="categorie">{{categorie}}</option>
        </select>
        </label>
    </div>

    <div class="notes-list">
        <div class="note" *ngFor="let note of filteredNotes">
            <div class="field is-grouped is-pulled-right">
                <button>
                <span class="icon is-small">
                    <i class="fas fa-edit" (click)="editNote(note)"></i>
                </span>
                </button>
                <button>
                <span class="icon is-small">
                    <i class="fas fa-trash-alt" (click)="deleteNote(note)"></i>
                </span>
                </button>
            </div>
            <span [attr.data-categorie]="note.categorie" class="categorie">{{note.categorie}}</span>
            <br>
            {{note.content}}
        </div>
    </div>
</div>


