<div class="main-container">


    <h2 class="headertekst">Notities van {{user}}</h2>
    

    <a routerLink="notes-details" routerLinkActive="active">
        <button id="controls">+ Voeg nieuwe notitie toe</button>
    </a>

    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Filter">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
        </div>
    </div>

    <div class="notes-list">
        <div class="note" *ngFor="let note of notes">
            <div class="field is-grouped is-pulled-right">
                <button>
                <span class="icon is-small">
                    <i class="fas fa-edit" (click)="editNote()"></i>
                </span>
                </button>
                <button>
                <span class="icon is-small">
                    <i class="fas fa-trash-alt" (click)="deleteNote(note)"></i>
                </span>
                </button>
            </div>
            {{note.content}}
        </div>
    </div>
</div>


