<div class="main-container">
    <div class="form-container">
        <form #noteForm="ngForm">
            <div class="field">
                <label class="label">Categorie</label>
                <!--<mat-selection-list #list [(ngModel)]="selectedOptions" (ngModelChange)="onNgModelChange($event)">-->
                <!-- <mat-list-option *ngFor="let categorie of categorieArray" [value]="categorie">
                    <p>{{categorie}}</p>
                </mat-list-option> -->
            <!--</mat-selection-list>-->
                <select name="cars" id="cars" (change)="onSelectChange($event)" [selectedIndex]="selectedCategorieIndex">
                    <option
                        *ngFor="let categorie of categorieArray"
                        [value]="categorie"
                    >
                        {{categorie}}
                    </option>
                </select>
            </div>
            <br>
            <div class="field">
                <label class="label">Notitie</label>
                <div class="control">
                    <textarea class="textarea" [value]="content" (change)="content = $event.target.value"></textarea>
                </div>
            </div>
            <div class="field is-grouped is-pulled-right">
                <div class="control">
                    <button class="button is-text" type="button" (click)="backClicked()">Cancel</button>
                </div>
                <div class="control">
                    <button id="controls" (click)="addContent()" type="submit">Save</button>
                </div>
            </div>       
        </form>
    </div>
</div>