<div class="main-container">
    <div class="form-container">
        <form #noteForm="ngForm">
            <div class="field">
                <label class="label">Categorie</label>
                <div class="control">
                    <input type="text" required class="input">
                </div>
            </div>
            <br>
            <div class="field">
                <label class="label">Notitie</label>
                <div class="control">
                    <textarea class="textarea"></textarea>
                </div>
            </div>
            <div class="field is-grouped is-pulled-right">
                <div class="control">
                    <button class="button is-text" type="button" (click)="backClicked()">Cancel</button>
                </div>
                <div class="control">
                    <button id="controls" type="submit">Save</button>
                </div>
            </div>       
        </form>
    </div>
</div>